@import "normalise";
@import "colors";
@import "typography";


.border {
  border: 2px solid black;
}

.container-fluid {
  background-color: #eee;
}

header {
    height: 60px;
    width: 100%;
    padding: 7px;
    border-bottom: 4px $brand solid;
    position: fixed;
    z-index: 22;
    background-color: white;
}

.inner-header {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    clear: both;

}

.logo {
  width: 160px;
}

nav {
    float: right;

    ul {
        padding: 12px 0;

        li {
            display: inline;
            padding: 8px;
        }
    }
}

#hero {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/hero-img.jpg') center center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 160px 20px;
}

.hero-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.hero-pages {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1300px;
    padding: 40px 120px 25px;
}



.btn-float {
    z-index:        100;
    display:       none;
    position:     fixed;
    bottom:        20px;
    right:         20px;

    border-radius: 50px;
    background: url('../images/float-call.svg') no-repeat;
    background-size:     25px 25px;
    background-position: 23px 16px;

}

.book {
  position: relative;
  width:         130px;
  height:        158px;
  top: 515px;
  background: url('../images/book.png')
  no-repeat;
  background-size:     contain;
  z-index: 100;

}
.signup {
    background-color: $brand;
    height: auto;
    width: 100%;
    padding: 0;
}

.sub-title {
  padding-top: 4px;
  margin: 0;
  font-weight: 400;
}

form {
  margin-top: -12px;
  margin-bottom: -10px;
}

.btn-md {
  height: 34px;
  font-size: 16px;
  font-weight: 600;
}

.about-container {
  height: auto;

  background-color: rgba(99, 99, 99, 1.0);
}

.tonje-img{

  background: url('/images/tonje3.jpg') center top no-repeat;
  background-size: cover;
  height: 600px;
  padding: 0;

}

.about-caption {
  height: auto;
  max-width: 600px;
  background-color: rgba(99, 99, 99, 1.0);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 20px 40px;

 p, h2 { color: white;}

 h2 {border-bottom-width: 4px;
 border-bottom-style: solid;
 border-color: $brand;}
}


.cred {
  background-color: #ddd;

  padding: 12px;
}

.padded {
  padding-top: 10px;
}


.padded-lg {
  padding-top: 100px;
  color: #555;
}


#blogs {

    padding-bottom: 60px;
  h2 { padding: 30px 0; }
  h3 { color: $brand;}
}


.prod-hidden {
  display: none;
}

.products {
  padding-bottom: 20px;
  h2 { padding: 30px 0; }
  h3 { color: $brand;}
}

.image{
  position: relative;
    overflow: hidden;
    height: 260px;
}
.image img{
    position:absolute;
    min-height: 260px;
    width: 100%;
}


.thumbnail {

  height: 450px;
  border-bottom: $brand 8px solid;
  border-radius: 0;
  padding: 0;
  h3 {
    padding: 0 10px;
  }
}

.blognail {

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

}

.prodnail {

  max-width: 600px;
  min-height: 570px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

}

.product {
  height: 600px;
}

.dark {
  background-color: #f2f2f2;
}



.master-title {

  font-size: 60px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: $brand;
}

#shrink {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/prod-img.jpg');
    background-position: center top no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 80px;
}


footer {
  min-height: 200px;
  background-color: $footer;
  padding: 16px 0;
  color: #bbb;
}

.horizontal-mailchimp .mc-field-group,
.horizontal-mailchimp .clear {
     display: inline-block;
     max-height: 80px;
     max-width: 1150px;
}

.horizontal-mailchimp label {
     display: none;
     height: 0px;
     text-indent: -9999px;
      height: 20px;
}



.horizontal-mailchimp {
     background: $brand;
     margin: 0px auto;
     padding: 1px 20px 6px;
     text-align: center;
     border-top: 2px rgba(white, .5 ) solid;

     border-bottom: 2px rgba(white, .5 ) solid;

}




.NAME, .EMAIL {
    min-width: 300px;
    min-height: 34px;
    margin: 0 5px ;
    padding: 0px 5px;
}


.blog-main {
  padding: 60px 200px;
  p { color: #222;}
}


.vid {

  width: 640px;
  height: 400px;
}

.blog-title {

  color: #333;
  font-size: 1.8em;
}

.player {
  max-width:600px;
  margin: 0 auto;
  background-color: #eee;
  p { padding: 5px; }
  img {
    width:100%;
  }
}

audio { width: 100%;
padding-bottom: 0;
margin-bottom: 0;}



@import "media-queries";
